mat-sidenav-container{
    height: 100%;
    padding-top: 0;
    overflow: hidden;
}

mat-sidenav{
    background-color: #85bab9;
    width: 330px;
}


/* side nav code */
.input{
    width: 240px;
}


/* main content code */
th{
    font-weight: bold;
    font-size: medium;
 
 }
 th,tr,table,td{
     text-align: left;
 }
 nav{
     position: sticky;
     position: -webkit-sticky;
     top: 0;
 
 }
 thead{
     position: sticky;
     position: -webkit-sticky;
     top: 60px;
 }

/* Styles for elements with class 'office' */
.office {
    font-family: 'Playfair Display SC', serif; /* Set font family */
    font-family: 'Young Serif', serif; /* Additional font family (will override the previous one) */
    color: rgb(14, 14, 14); /* Set text color */
    padding-left: 400px; /* Set left padding */
    padding-top: 12px; /* Set top padding */
}



  
  